article {padding: 32px 15%;}

@media only screen and (max-width: 600px) {
	article {padding: 32px;}
	h1.article-header {font-size: 1.75em;}
	p.article-header {font-size: 1.125em !important;}
}

@media only screen and (max-width: 768px) {
	h1.article-header {font-size: 2.25em;}
}

h1.article-header {
	font-size: 3em;
	margin: 24px 0;
	line-height: 1.125em;
}

p.article-header {
	font-size: 1.25em;
	margin: 8px 0;
}

.warning {
	border: 1px solid crimson;
	padding: 1em;
	margin-bottom: 1em;
}

.warning h2 {
	font-size: 2.25em;
	color: crimson;
	line-height: 1em;
}

.warning p {
	font-size: calc(17em / 16);
	color: brown;
}

article > h2 {font-size: 2.25em;}
article > h3 {font-size: 2em;}
article > h4 {font-size: 1.75em;}
article > h5 {font-size: 1.5em;}
article > h6 {font-size: 1.25em;}

@media only screen and (max-width: 768px) {
	article > h2 {font-size: 2em;}
	article > h3 {font-size: 1.75em;}
	article > h4 {font-size: 1.5em;}
	article > h5 {font-size: 1.25em;}
	article > h6 {font-size: 1.125em;}
}

@media only screen and (max-width: 600px) {
	article > h2 {font-size: 1.75em;}
	article > h3 {font-size: 1.5em;}
	article > h4 {font-size: 1.25em;}
	article > h5 {font-size: 1.125em;}
	article > h6 {font-size: 1.0625em;}
}

article > h2, article > h3, article > h4,
article > h5, article > h6 {
	line-height: 1.25em;
}

article > h2 + hr {
	border: 1px solid var(--white-80);
	margin-bottom: 1em;
}

.latest-post-date.article-header {
	padding-bottom: 32px;
}

article > p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

article > p:first-of-type::first-letter {
	float: left;
	font-size: 3.5em;
	padding: 2px 4px 0 0;
}

article a, article a:link, article a:visited {
	cursor: pointer;
	text-decoration: dotted;
	color: var(--white-40);
	transition-duration: 0.3s;
}

article a:hover {
	color: var(--cerulean-crayola)
};

ul, ol {
	list-style-position: outside;
}

ul li, ol li {
	line-height: 1.5em;
}

ul li:last-of-type, ol li:last-of-type {
	padding-bottom: 1.25em;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.pagination a {
	cursor: pointer;
	border: 2px solid var(--white-40);
	text-align: center;
	padding: 4px 8px;
	border-radius: 4px;
}

.pagination a:hover {border-color: var(--cerulean-crayola);}

@media only screen and (max-width: 600px) {
	.pagination a {
		display: block;
		width: 100%;
	}
}

figure {
	display: flex;
	flex-direction: row;
}

figure img {
	max-width: 70%;
	object-fit: cover;
	flex: 70%;
	margin-bottom: 1em;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3), 
	0px 6px 10px 1px rgba(0, 0, 0, 0.26);
}

figure figcaption {
	flex: 30%;
	padding-left: 4em;
	font-size: 0.8em;
	font-variant-ligatures: normal;
	line-height: 1.5em;
	z-index: 1;
	position: relative;
	--wght: 550;
	--MONO: 1;
}

figcaption::before {
	position: absolute;
	content: ">";
	font-size: 5em;
	color: var(--cerulean-crayola);
	float: left;
	z-index: -1;
	opacity: 0.4;
	left: 0.125em;
	top: 0.125em;
}

@media only screen and (max-width: 768px) {
	figure {
		flex-direction: column;
	}

    figure img {
		flex: 100%;
		max-width: 100%;
	}

	figure figcaption {
		flex: 100%;
		padding: 0;
		margin: 1.5em 0 1em;
	}

	figcaption::before {
		position: absolute;
		content: "^";
		font-size: 3.5em;
		top: -0.3em;
		left: 0;
	}
}

span[title] {
	color: var(--star-command-blue);
	transition-duration: 0.3s;
}

span[title]:hover {
	--slnt: -13.8;
	--wght: 650;
}

blockquote {
	display: block;
	background-color: #fff;
	color: var(--white-20);
	font-size: 1em;
	line-height: 1.5em;
	--CASL: 1;
	--slnt: -15;
	padding: 10px 20px 10px 40px;
	margin-bottom: 1em;
	position: relative;
	text-align: justify;
	border-left: 16px solid var(--dark-cornflower-blue);
	box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3), 
	0px 6px 10px 1px rgba(0, 0, 0, 0.26);
}

blockquote::before {
	font-size: 4em;
	content: "\201C";
	position: absolute;
	top: 0.4em;
	left: calc(-1em / 42);
}

blockquote em {
	--slnt: 0;
}

.social-bar {
	display: flex;
	justify-content: center;
}

.social-bar a {
	display: block;
	font-size: 2em;
	padding: 0 1em;
}